.aboutMe{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.aboutMe h2{
    margin-top: 0;
    padding-top: 30px;
    font-size: 24px;
}

.aboutMe p{
    font-size: 12px;
    letter-spacing: 4px;
}

.aboutMe hr{
    size: 1px;
    width: 14%;
}