.portfolio{
    background-color: #222;
    color: #fff;
}

.whiteHr{
    color: white;
    background-color: white;
}

.portfolioCol h3{
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}
