.container hr{
    border:         none;
    border-left:    1px solid hsla(200, 10%, 50%,100);
    height:         auto;
    width:          1px;     
}

.summaryContainer{
    margin-top: 70px;
}

.columH{
    margin-top: 10px;
}

.rightColum{
    text-align: right;
    float: right;
}

.summaryAboutHeader{
    display: inline-block;
    padding: 0 15px;
    margin: 0 0 15px;
    background: #2C7DF6;
    color: white;
}

.summaryIcon{
    font-size: 40px;
    margin: 0 0 15px;
    color: gray;
}

.summaryMainHeader{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}

.summaryText{
    font-weight: 100;
    font-size: 15px;
}